html {
  @include bp($bp-very-small) {
    font-size: 62.5%; // 10px
  }

  @include bp($bp-large) {
    font-size: 75%; // 12px
  }

  @include bp($bp-very-large) {
    font-size: 87.5%; // 14px
  }
}
