@import url("https://fonts.googleapis.com/css?family=Galada&display=swap");

html {
  // font-size: 75%; // 12px

  // @include bp($bp-large) {
  font-size: 87.5%; // 14px
  // }

  @include bp($bp-large) {
    font-size: 100%; // 16px
  }
}

body {
  font-family: "Galada", cursive;
  font-weight: 300;
  color: $color-white;
}

.t-heading {
  @include heading;

  &--inverted {
    color: $color-black;
  }
}

.t-subtitle {
  @include subtitle;
}

.t-paragraph {
  @include paragraph;
}

.t-item-text {
  @include item-text;
}
