@mixin bp($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin heading {
  margin: 0;
  font-size: 3.81rem;
  font-weight: 300;
  color: $color-white;
}

@mixin subtitle {
  color: $color-white;
  font-size: 1.62rem;
  font-weight: 300;
  margin: 0;
}

@mixin paragraph {
  color: $color-black;
  font-size: calcMobileSize(1.2rem, 0.015, 0.013);
  text-indent: 4rem;
  text-align: justify;
  line-height: 1.8rem;

  @include bp($bp-very-small) {
    font-size: 1.44rem;
  }
}

@mixin item-text {
  color: $color-white;
  font-size: 1.81rem;
}
