// COLORS
$color-primary: #0d7c8e;
$color-primary-alt: #2385af;
$color-secondary: #52201d;
$color-secondary-alt: #9d1c00;
$color-secondary-alt2: #b7442b;
$color-tertiary: #c4b641;
$color-tertiary-alt: #fff27c;

$color-white: #fff;
$color-dark-grey: #111;
$color-black: #000;

// SIZES
// check base.scss for biggger screens
:root {
  --page-padding: 1rem;
}

// IMAGES
$main-bg: "../static/img/markus-spiske-TiKZ7tzM4P8-unsplash.jpg";
$main-bg-thumb: "../static/img/thumb.jpg";

// BREAKPOINTS
$bp-shape-large: 95em;

$bp-very-large: 100em; // 1600px
$bp-large: 75em; // 1200px
$bp-medium: 62.5em; // 1000px;
$bp-small: 43.75em; //700px;
$bp-very-small: 31.25em; // 500px;
