.l-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.l-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: var(--page-padding);
}

.l-page-content {
  position: relative;
  margin: 0 auto;
  margin-top: calc(#{calcMobileSize(15vw, 0.2, 0.1)} - #{var(--page-padding)});
  display: flex;
  flex-direction: column;
  min-height: calc(
    (100vh - calc(#{calcMobileSize(15vw, 0.2, 0.1)})) - 2 * #{var(
        --page-padding
      )}
  );

  @include bp($bp-very-small) {
    width: 75%;
    margin-top: calc(#{calcMobileSize(3vw, 0.2, 0.1)} - #{var(--page-padding)});
    min-height: calc(
      (100vh - calc(#{calcMobileSize(3vw, 0.2, 0.1)})) - 2 * #{var(
          --page-padding
        )}
    );
  }

  @include bp($bp-small) {
    max-width: 42.62rem;
    margin-top: calc(8.78rem - #{var(--page-padding)});
    min-height: calc(100vh - 8.78rem - #{var(--page-padding)});
  }

  @include bp($bp-medium) {
    margin-top: calc(6.78rem - #{var(--page-padding)});
    min-height: calc(100vh - 6.78rem - #{var(--page-padding)});
    margin-left: calc(7% + (100vw - 1000px) * 0.4 + 3rem);
  }

  @include bp($bp-shape-large) {
    margin-left: calc(23% - (100vw - #{$bp-shape-large}) * 0.22);
  }
}
